* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    background-color: rgb(71, 3, 135);
}

.container .header {
    padding: 1rem 2rem;
    display: flex;
    justify-content: flex-end;
    background-color: rgb(85, 15, 151);
}

.container .header input {
    padding: .8rem 1.5rem;
    border-radius: 25px;
    border: 2px solid rgb(50, 2, 95);
    font-size: 1.2rem;
    color: #FFF;
    background-color: rgb(85, 15, 151);
    outline: none;
    width: 400px;
}

.container .movies-container {
    padding: 2rem;
    height: auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, 300px);
    justify-content: center;
    background-color: rgb(108, 19, 191);
    grid-gap: 20px;
}

.container .movies-container .movie {
    height: 500px;
    background-size: cover;
    position: relative;
    overflow: hidden;
    background-position: center;
    background-color: #ccc;
}

.loading::before {
    content: '';
    position: absolute;
    z-index: 100;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transform: translateX(-100%);
    background-image: linear-gradient(to left, transparent, #a8a7a7, transparent);
    animation: loading 1s infinite;
}

@keyframes loading {
    to {
        transform: translateX(100%);
    }
}

.container .movie:hover .overview-container {
    bottom: 0;
}

.movies-container .movie .title-movie {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: rgb(85, 15, 151);
    color: #FFF;
    padding: 1rem 1.5rem;
    display: flex;
    justify-content: space-between;
}

.movie .title-movie .rate {
    padding: .5rem;
    background-color: rgb(50, 2, 95);
    color: greenyellow;
    position: relative;
}

.movies-container .movie .overview-container {
    width: 100%;
    position: absolute;
    z-index: 2;
    background-color: #ccc;
    padding: 1.5rem .8rem;
    bottom: -100%;
    transition: all .4s;
    color: #414141;
}

.overview-container .overview-title {
    margin: 1rem 0;
}

.empty-result {
    font-size: 3rem;
    color: #FFF;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 1rem;
    z-index: 10;
    display: none;
}